.b-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), 
    rgba(5, 10, 35, 0.75)),url(../../../utils/images/OddDays.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 900px;
    
}

title{
    font-size: 2px;
}